@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(#232630, #050507);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}